body {
  margin:0px;
}
#links {
    color: blue;
    font-family: sans-serif;
    margin-top: 25px;
    margin-right: 25px;
    text-align: right;
}
input[type=text]{
    font-family: sans-serif;
    font-size: 15px;
    padding: 0px 20px;
    width: 553px;
    height: 35px;
    border: 2px solid grey;
    border-radius: 50px;
    text-align: left;
}
input[type=submit]{
    font-family: sans-serif;
    padding: 10px 20px;
    font-size: 15px;
    border: 0px;
    border-radius: 10px;
    color: 3A3B3C;
}
.Content {
    margin-top: 500px;
    text-align: center;
}
label {
    display: inline-block;
    width: 180px;
    text-align: left;
    font-family: sans-serif;
    font-size: 15px;
}
.advContent {
    margin-left: 25px;
    margin-top: 145px;
}
#logo {
    top: 42%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    width:500px;
    height:160px;
  }
#logoadv {
    left: 150px;
    top: 80px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    width:250px;
    height:80px;
  }
#search {
    margin-right: 10px;
}